body {
  font-family: Arial;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 15px;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

section {
  padding: 40px;
}

.home {
  text-align: center;
}